/* Primary */
/* graphic design text */
/* photography text */
/* footer */
/* Neutral */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
    color: #202020;
}
h1{
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
h2{
    font-size: 1.8em;
    margin-bottom: 18px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
h3{
    font-size: 1.4em;
    margin-bottom: 22px;

    font-family: 'Fraunces', serif;
    font-weight: 900;
}
h4{
    font-size: 0.9em;
    margin-bottom: 22px;

    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(210, 4%, 67%);

    text-align: center;

    letter-spacing: 3px;
    text-transform: uppercase;
}
h5{
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
h6{
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
p{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 0.98em;
    color: hsl(210, 4%, 67%);
    line-height: 26px;
}
img, picture{
    width: 100%;
}
.btn-header{

        margin: 16px 0;
        padding: 12px 22px;
        
        color: hsl(212, 27%, 19%);
        background-color: hsl(51, 100%, 49%);
                
        border-radius: 25px;
        
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 0.85em

        
    }
.btn-header:hover{
            color:hsl(0, 0%, 100%);
            background-color: hsl(200deg, 100%, 53%); 
        }
.btn-primary{
        font-family: 'Fraunces', serif;
        font-weight: 900
    }
.btn-primary a{

            display: inline-block;
            position: relative;
            text-transform: uppercase;
            margin-top: 35px
            
        }
.btn-primary a::after{
                content: "";
    
                position:absolute;
                width: 114%;
                height: 9px;
                bottom: -1.5px;
                left: -8px;
                background-color: rgba(255, 255, 0, 0.35);                
                border-radius: 22px;
                z-index: -1;

                transition: all 0.4s ease-out
            }
.btn-primary a::after:hover{
                    background-color:rgb(255, 255, 0);
                }
.btn-secundary{
        font-family: 'Fraunces', serif;
        font-weight: 900
    }
.btn-secundary a{

            display: inline-block;
            position: relative;
            text-transform: uppercase;
            margin-top: 35px
        }
.btn-secundary a::after{
                content: "";
    
                position:absolute;
                width: 114%;
                height: 9px;
                bottom: -1.5px;
                left: -8px;
                background-color: rgba(254, 120, 103, 0.35);                
                border-radius: 22px;
                z-index: -1;

                transition: all 0.4s ease-out
            }
.btn-secundary a::after:hover{
                    background-color: rgb(254, 120, 103);
                }
@media(min-width: 992px){
        .btn-header{
            background-color: hsl(0, 0%, 100%);
            
        }
}
/* Placeholder Bloque 1, Bloque 2, Bloque 3 */
/* Placeholder Bloque 1 y Bloque 2 */
/* Header */
.heroe{
    
    background-image: url('../images/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-size: 100%;   
    background-size: cover;   
    height:100vh;
}
.heroe__title{
        display:flex;
        flex-direction: column;        
        justify-content: center;
        align-items: center;

        height:80vh

    
    }
.heroe__title h1{
            margin-bottom: 50px;
            
            text-transform: uppercase;
            text-align: center;
            font-size: 2.8em;
            letter-spacing: 4px;
            color:white;
        }
.header__wrapper{
        position:relative;

        display: flex;
        justify-content: space-between;
        align-items: center;               
                   
        padding:0 34px;
        height: 13vh;        

    }
.header__marca{
    
    }
.b1:before{
    content: '';
    display: table;
}
.b1:after{
    content: '';
    display: table;
    clear: both;
}
.b1__text{
    box-sizing: border-box;
    order:2;
    display: grid;
    align-content:center;
    justify-content:center;
    place-content:center;
    padding: 50px 25px;
    text-align: center;
}
.b1__image{
    order:1;
}
.b2:before{
    content: '';
    display: table;
}
.b2:after{
    content: '';
    display: table;
    clear: both;
}
.b2__text{
    box-sizing: border-box;
    order:2;
    display: grid;
    align-content:center;
    justify-content:center;
    place-content:center;
    padding: 50px 25px;
    text-align: center;
}
.b2__image{
    order:1;
}
.b3__text1{        
        background-image: url("../images/mobile/image-graphic-design.jpg");
        background-size: 100% 100%;
        box-sizing: border-box;
        order:2;
        display: grid;
        align-content:center;
        justify-content:center;
        place-content:center;
        padding: 50px 25px;
        text-align: center;
        align-content: end;
        justify-content: center;
        place-content: end center;
        height: 95vh;
        order:none
    }
.b3__text1 h3, .b3__text1 p{

            color: hsl(167, 40%, 24%);
}
.b3__text2{
        background-image: url("../images/mobile/image-photography.jpg");
        background-size: 100% 100%;
        box-sizing: border-box;
        order:2;
        display: grid;
        align-content:center;
        justify-content:center;
        place-content:center;
        padding: 50px 25px;
        text-align: center;
        align-content: end;
        justify-content: center;
        place-content: end center;
        height: 95vh;
        order:none

    }
.b3__text2 h3, .b3__text2 p{
            color: hsl(198, 62%, 26%);
}
.b4{
    padding: 45px 10px;

}
.b4__testimonial{
        box-sizing: border-box;
        display: grid;
        justify-items: center;
        padding: 15px 35px;
        margin: 45px 0;
        text-align: center

    }
.b4__testimonial img{
            width: 65px;
            height: auto;
            border-radius: 34px;
            margin-bottom: 25px;
        }
.b4__testimonial p{
            color: hsl(213, 9%, 39%);
            margin-bottom: 25px;
        }
.b4__testimonial h5{
            font-size: 1.15em;
        }
.b4__testimonial h6{
            font-family: 'Barlow', sans-serif;
            margin-top: 10px;
            font-size: 0.85em;
            color: hsl(210, 4%, 67%);
        }
.b5{
    order:2;
}
.b5 picture img{
        width: 100%;
        height: 100%;
}
@supports ((-o-object-fit: cover) or (object-fit: cover)){
        .b5 picture{
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center center;
               object-position: center center;
        }
}
.b5 > picture{
        width: calc(100% * 2/4 - (0px - 0px * 2/4));
        height: 192px;
}
.b5 > picture:nth-child(1n){
        float: left;
        margin-right: 0px;
        clear: none;
}
.b5 > picture:last-child{
        margin-right: 0;
}
.b5 > picture:nth-child(2n){
        margin-right: 0;
        float: right;
}
.b5 > picture:nth-child(2n + 1){
        clear: both;
}
.b5:before{
    order:2;
}
.b5:before picture img{
        width: 100%;
        height: 100%;
}
@supports ((-o-object-fit: cover) or (object-fit: cover)){
        .b5:before picture{
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center center;
               object-position: center center;
        }
}
.b5:before > picture{
    
    }
.b5:before{
    content: '';
    display: table;
}
.b5:after{
    order:2;
}
.b5:after picture img{
        width: 100%;
        height: 100%;
}
@supports ((-o-object-fit: cover) or (object-fit: cover)){
        .b5:after picture{
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center center;
               object-position: center center;
        }
}
.b5:after > picture{
    
    }
.b5:after{
    content: '';
    display: table;
    clear: both;
}
.footer{
    display: grid;
    justify-items: center;
    background-color: hsla(168deg, 34%, 41%, 0.47);    
    padding-top: 65px;
    padding-bottom: 95px;



}
.footer__logo{
        margin-bottom: 28px
    }
.footer__logo svg path{
            fill: hsl(168, 34%, 41%);            
        }
.footer__menu{
        display: flex
    }
.footer__menu a{
            color:hsl(168, 34%, 41%);    
            margin: 0 25px;
            font-family: 'Barlow', sans-serif
        }
.footer__menu a:hover{
                color: hsl(0, 0%, 100%);
            }
.footer__social-media{
        display: flex;
        margin-top: 75px

    }
.footer__social-media a{
            margin: 0 15px;
            width: 20px        
            
        }
.footer__social-media a svg path:hover{
                fill:hsl(0, 0%, 100%);
            }
@media(max-width: 991px){
        .header__menu-mobile{        

            position: absolute;
            top: 315%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            display: none;
            flex-direction: column;
            align-items: center;
    
            width: 100%;
            max-width: 300px;
            padding: 20px 0;
            background-color: white;

            font-family: 'Barlow', sans-serif                     
    
        }
            
    
            .header__menu-mobile:before{
                position: absolute;
                top: -18px;
                right: -1px;
    
                content: "";
                width:50px;
                height:50px;
                background-color: hsl(0, 0%, 100%);
    
                -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
    
                        clip-path: polygon(100% 0, 0 100%, 100% 100%);
            }
        .header__menu-burger-input{
            display:none;
        }
        .header__menu-burger-input:checked + .header__menu-mobile{
            display:flex;
        }
    
        .header__menu-mobile-link{
            color: hsl(232, 10%, 55%);
            margin: 16px 0;
            font-weight: 600;
            font-family: 'Barlow', sans-serif;
        }
}
@media(min-width: 992px){

    .heroe{

        background-image: url('../images/desktop/image-header.jpg');

    }
        .header__menu-burger{
            display: none;
        }
        .header__menu-burger-input{
            display: none;
        }

        .header__menu-mobile{        
                            
        }

        .header__menu-mobile-link{
            margin: 0 18px;
            color: hsl(0, 0%, 100%);
        }

    .b1{
        display: flex;
        height: 75vh;
    }

    .b1 > div{
        width: calc(99.9% * 1/2 - (0px - 0px * 1/2));  
        height: 100%;
    }

    .b1 > div:nth-child(1n){
        float: left;
        margin-right: 0px;
        clear: none;
    }

    .b1 > div:last-child{
        margin-right: 0;
    }

    .b1 > div:nth-child(2n){
        margin-right: 0;
        float: right;
    }

    .b1 > div:nth-child(2n + 1){
        clear: both;
    }

    .b1__text{
        order:1;
        padding: 5% 8%;
        text-align:left;
    }

    .b1__image{
        order:2;
    }

    .b1__image picture img{
        width: 100%;
        height: 100%;
    }

    @supports ((-o-object-fit: cover) or (object-fit: cover)){
        .b1__image picture{
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center center;
               object-position: center center;
        }
    }

    .b2{
        display: flex;
        height: 75vh;
    }

    .b2 > div{
        width: calc(99.9% * 1/2 - (0px - 0px * 1/2));  
        height: 100%;
    }

    .b2 > div:nth-child(1n){
        float: left;
        margin-right: 0px;
        clear: none;
    }

    .b2 > div:last-child{
        margin-right: 0;
    }

    .b2 > div:nth-child(2n){
        margin-right: 0;
        float: right;
    }

    .b2 > div:nth-child(2n + 1){
        clear: both;
    }

    .b2__text{
        order:1;
        padding: 5% 8%;
        text-align:left;
        order: 2;
    }

    .b2__image{
        order:2;
    }

    .b2__image picture img{
        width: 100%;
        height: 100%;
    }

    @supports ((-o-object-fit: cover) or (object-fit: cover)){
        .b2__image picture{
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center center;
               object-position: center center;
        }
    }

    .b2__image{
        order: 1;
    }

    .b3{
        display: flex;
        height: 75vh;
    }

    .b3 > div{
        width: calc(99.9% * 1/2 - (0px - 0px * 1/2));  
        height: 100%;
    }

    .b3 > div:nth-child(1n){
        float: left;
        margin-right: 0px;
        clear: none;
    }

    .b3 > div:last-child{
        margin-right: 0;
    }

    .b3 > div:nth-child(2n){
        margin-right: 0;
        float: right;
    }

    .b3 > div:nth-child(2n + 1){
        clear: both;
    }

    .b3__text1{
            background-image: url("../images/desktop/image-graphic-design.jpg");
            order:1;
            padding: 5% 8%;
            text-align:left;
            text-align: center;
    }

    .b3__text2{
            background-image: url("../images/desktop/image-photography.jpg");
            order:1;
            padding: 5% 8%;
            text-align:left;
            text-align: center;
    }

    .b4{
        padding: 7% 6%;
    }
    
        .b4__container-testimonials > div{
            width: calc(99.9% * 1/3 - (0px - 0px * 1/3));
            
        }
    
        .b4__container-testimonials > div:nth-child(1n){
            float: left;
            margin-right: 0px;
            clear: none;
            
        }
    
        .b4__container-testimonials > div:last-child{
            margin-right: 0;
            
        }
    
        .b4__container-testimonials > div:nth-child(3n){
            margin-right: 0;
            float: right;
            
        }
    
        .b4__container-testimonials > div:nth-child(3n + 1){
            clear: both;
            
        }
    
        .b4:before__container-testimonials > div{
            
        }
    
        .b4:before{
        content: '';
        display: table;
    }
    
        .b4:after__container-testimonials > div{
            
        }
    
        .b4:after{
        content: '';
        display: table;
        clear: both;
    }
        .b5 > picture{
            width: calc(100% * 1/4 - (0px - 0px * 1/4));
            height: auto;
        }
        .b5 > picture:nth-child(1n){
            float: left;
            margin-right: 0px;
            clear: none;
        }
        .b5 > picture:last-child{
            margin-right: 0;
        }
        .b5 > picture:nth-child(4n){
            margin-right: 0;
            float: right;
        }
        .b5 > picture:nth-child(4n + 1){
            clear: both;
        }

}
